<?xml version="1.0" encoding="utf-8"?>
<robot
    xmlns:xacro="http://ros.org/wiki/xacro"
    name="mg400">
  <xacro:include filename="$(find mg400_description)/urdf/mg400.xacro" />

  <!-- links -->
  <link name="base_link" />
  <xacro:mg400
      parent="base_link"
      prefix="">
    <origin
        xyz="0 0 0"
        rpy="0 0 0" />
  </xacro:mg400>
</robot>